modules = ["nodejs-20"]
[agent]
expertMode = true

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[userenv]

[userenv.shared]
PORT = "3000"
MONGO_URI = "mongodb://localhost:27017/vinnoshiv"
